@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.bcg_grey {
  background: #EFF1F4;
}

.title_page_wrapper {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title_page_wrapper h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 56px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
}

.toggle_switch {
  border-radius: 32px 32px 32px 32px;
  display: flex;
}
.toggle_switch .page {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0860C7;
  padding: 12px 14px;
  border: 2px solid #0860C7;
  width: 106px;
  height: 48px;
}
.toggle_switch .page.active {
  background: #0860C7;
  color: #fff;
}

.toggle_switch #delivery_europe {
  border-radius: 32px 0 0 32px;
}

.toggle_switch #delivery_usa {
  border-radius: 0 32px 32px 0;
}

.basket_section {
  padding: 48px 0;
  margin-bottom: 48px;
}
.basket_section .name_sec_basket {
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
  margin-bottom: 48px;
}

.input_label {
  display: block;
}
.input_label .name_input {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #303A45;
  margin-bottom: 10px;
  position: relative;
}
.input_label .name_input svg {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: -20px;
}
.input_label .name_input .svg:hover .prompt {
  display: block;
}
.input_label .name_input .svg:hover svg path {
  fill: #0860C7;
}
.input_label .name_input .prompt {
  display: none;
  position: absolute;
  bottom: 0;
  right: -310px;
  z-index: 3;
  background: #FFFFFF;
  box-shadow: 0px 6px 22px rgba(64, 98, 145, 0.16);
  border-radius: 6px;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
  width: 285px;
}
.input_label input {
  padding: 16px;
  border: unset;
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
  width: 100%;
  height: 48px;
}
.input_label input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
  opacity: 1; /* Firefox */
}
.input_label input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
}
.input_label input::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
}
.input_label input.error {
  border: 1px solid #E60033;
}
.input_label input:focus {
  outline: none;
}
.input_label input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
}
.input_label select {
  background: #fff;
  border: 0;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8493A8;
  width: 100%;
  background-image: url(../img/icon.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  height: 48px;
  padding: 0 18px;
}
.input_label select option {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8493A8;
}

.grid_w33 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  margin-bottom: 50px;
}

.grid_w50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.grid_w25 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
}

.delivery_options_form .grid_w50 {
  margin-bottom: 30px;
}

.add_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 24px;
  background: transparent;
  border: none;
}
.add_link img {
  width: 17px;
  height: 17px;
}
.add_link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
  margin-left: 10px;
}

.sub_btn {
  background: #fff;
  border: 2px solid #0860C7;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #0860C7;
  text-decoration: none;
  padding: 15px 50px;
  width: 280px;
  cursor: pointer;
}
.sub_btn:hover {
  color: #1578EA;
  border: 2px solid #1578EA;
}

.grey_btn {
  background: #99A4AF;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #fff;
  text-decoration: none;
  padding: 15px 50px;
  width: 280px;
  cursor: pointer;
}
.grey_btn:hover {
  background: #1578EA;
}
.grey_btn .active_color_blue {
  background: #0860C7;
}

.blue_button {
  background: #0860C7;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 50px;
  cursor: pointer;
}

.agree_rules_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.agree_rules_wrapper p {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #303A45;
  margin-left: 15px;
}
.agree_rules_wrapper p span {
  color: #0860C7;
}

.form_basket_meest .flex_btn {
  display: flex;
  align-items: center;
}
.form_basket_meest .flex_btn .grey_btn {
  margin-right: 20px;
}

.delivery_work_info_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 100px;
  margin-bottom: 95px;
}
.delivery_work_info_wrap .del_work_col {
  padding-left: 30px;
  border-left: 2px solid #EFF1F4;
}
.delivery_work_info_wrap .del_work_col .name_col {
  font-weight: 500;
  font-size: 18px;
  line-height: 146%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
  margin-bottom: 30px;
}
.delivery_work_info_wrap .del_work_col .procent {
  font-weight: 700;
  font-size: 33px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #28D3A1;
  margin-bottom: 12px;
}
.delivery_work_info_wrap .del_work_col a {
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}
.delivery_work_info_wrap .del_work_col a:last-of-type {
  margin-bottom: 0;
}
.delivery_work_info_wrap .del_work_col .text_p {
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #0860C7;
  margin-bottom: 12px;
}
.delivery_work_info_wrap .del_work_col .text_p:last-of-type {
  margin-bottom: 0;
}

.error {
  font-size: 12px;
  color: red;
}

.goods_buy_form {
  position: relative;
  margin-bottom: 64px;
}
.goods_buy_form:first-of-type .close_goods {
  display: none;
}
.goods_buy_form .close_goods {
  position: absolute;
  top: 0;
  right: 0;
}
.goods_buy_form .close_goods img {
  width: 16px;
  height: 16px;
}

.delete_goods {
  background: #FFFFFF;
  box-shadow: 0px 0px 22px rgba(33, 67, 99, 0.26);
  border-radius: 40px;
  padding: 60px 50px 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  position: relative;
  margin: 0 auto;
}
.delete_goods .close_popup {
  position: absolute;
  top: 23px;
  right: 23px;
}
.delete_goods h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1E2438;
  margin-bottom: 30px;
}
.delete_goods .blue_button {
  width: 100%;
  margin-bottom: 27px;
}
.delete_goods .sub_btn {
  width: 100%;
}

.switch_country_mobile {
  display: none;
}

.custom_chekbox {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom_chekbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom_chekbox .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #99A4AF;
  border-radius: 2px;
}
.custom_chekbox .text {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #303A45;
}
.custom_chekbox .text a {
  color: #0860C7;
  text-decoration: none;
}

.custom_chekbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  left: 4px;
  top: 5px;
  width: 14px;
  height: 10px;
  background: url(../img/done.png);
  background-position: center;
  background-repeat: no-repeat;
}

.delete_goods .mfp-close {
  display: none;
  right: 13px;
  top: 13px;
}

.form_basket_meest .flex_btn .grey_btn.active_color_blue {
  background: #0860C7;
}

.input_label .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: unset;
  border-radius: 10px;
  height: 48px;
}

.input_label .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
}

.input_label .select2-container--default .select2-selection--single .select2-selection__rendered::placeholder {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #99A4AF;
}

.input_label .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 20px;
  right: 16px;
  width: 16px;
  height: 16px;
}

.input_label .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(../img/icon.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  border-color: unset;
  border-style: unset;
  height: 16px;
  width: 16px;
  transform: translateY(-50%);
}

body .select2-dropdown {
  background: #EFF1F4;
  box-shadow: 0px 6px 22px rgba(64, 98, 145, 0.16);
  border-radius: 10px;
  border: unset;
  padding: 19px 24px;
  border-radius: 10px;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
  border: unset;
  display: none;
  padding: 0;
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
  background: #0860C7;
  border-radius: 10px;
}

body .select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 12px 14px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
}